@font-face {
    font-family: "mreaves-bold";
    src: url("../fonts/MrEavesXLModOT-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "mreaves-book";
    src: url("../fonts/MrEavesXLModOT-Book.ttf") format("truetype");
  }
  @font-face {
    font-family: "mreaves-light";
    src: url("../fonts/MrEavesXLModOT-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "mreaves-regular";
    src: url("../fonts/MrEavesXLModOT-Reg.ttf") format("truetype");
  }

body{
    max-width: 1440px;
    font-family: mreaves-regular;
    background-color: #fff;
    margin: 0 auto;
    padding: 0;
}
.main{
    width: 100%;
}
.right-part{
  display: flex;
  .first{
    position: relative;
    padding: 15px 10px;
    .gurranty{
      img{
        width: 150px;
        padding: 15px 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
      }
    }
    .video-container {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;

      .video-management {
        position: absolute;
        bottom: 0; /* Adjust as needed */
        left: 0;
        right: 0;
        text-align: center;

        .pause-button img {
          width: 25px; /* Adjust as needed */
          height: auto;
      }
    }
  }
  .description{
    display: flex;
    >div{
      display: flex;
      flex-direction: column;
      font-family: mreaves-regular;
      font-size: 19px;
      width: 40%;
      .mini-description{
        font-size: 15px;
      }
    }
  }
  .price{
      font-family: mreaves-bold;
      font-size: 22px;
  }
  }
}