@font-face {
  font-family: "mreaves-bold";
  src: url("../fonts/MrEavesXLModOT-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "mreaves-book";
  src: url("../fonts/MrEavesXLModOT-Book.ttf") format("truetype");
}
@font-face {
  font-family: "mreaves-light";
  src: url("../fonts/MrEavesXLModOT-Light.ttf") format("truetype");
}
@font-face {
  font-family: "mreaves-regular";
  src: url("../fonts/MrEavesXLModOT-Reg.ttf") format("truetype");
}
body {
  max-width: 1440px;
  font-family: mreaves-regular;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
}

.parent {
  margin-top: 10px;
  border-top: 1px solid pink;
}

.container {
  display: flex;
}
.container .left-side {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.container .left-side .parent-filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container .left-side .parent-filter > div {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 15px 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.container .left-side .parent-filter > div i {
  position: absolute;
  font-size: 12px;
  color: #000;
}
.container .left-side .parent-filter > div .fa-circle-info {
  left: 10px;
}
.container .left-side .parent-filter > div .fa-angle-down {
  right: 10px;
}
.container .left-side .parent-filter > div:hover .dropdown-options {
  display: flex;
}
.container .left-side .parent-filter > div:hover {
  border-bottom: none;
}
.container .left-side .parent-filter > div:nth-child(4) {
  border-right: none;
}
.container .left-side .parent-filter > div:nth-child(3) .dropdown-options, .container .left-side .parent-filter > div:nth-child(4) .dropdown-options {
  right: 0;
  left: auto;
}
.container .left-side .parent-filter .dropdown-options {
  position: absolute;
  top: 100%;
  width: -moz-max-content;
  width: max-content;
  left: 0;
  border: 1px solid black;
  display: none;
  border-top: none;
  padding: 20px;
  background-color: #fff;
  z-index: 1;
}
.container .left-side .parent-filter .dropdown-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-family: mreaves-book;
  justify-content: space-around;
}
.container .left-side .parent-filter .dropdown-options li {
  margin-right: 20px;
}
.container .left-side .essential {
  margin-top: 15px;
  display: flex;
  width: 100%;
}
.container .left-side .essential .result {
  padding: 10px;
}
.container .left-side .essential .search {
  display: flex;
  margin-left: auto;
  width: auto;
}
.container .left-side .essential .search .input-container {
  border-bottom: 1px solid #333;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.container .left-side .essential .search .input-container > input {
  border: none;
  outline: none;
  height: 25px;
  padding: 0;
}
.container .left-side .essential .search .input-container .search-input {
  display: flex;
}
.container .left-side .essential .search .input-container .search-input .search-input-button {
  background-color: #fff;
  border: none;
  border-radius: 0;
  color: #000;
  cursor: pointer;
  padding: 0px 5px;
  text-decoration: none;
}
.container .left-side .essential .search .input-container .search-input .search-input-button > i {
  font-size: 12px;
}
.container .left-side .row-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 7px;
}
.container .left-side .row-container a {
  text-decoration: none;
}
.container .right-side {
  width: 100%;
}
.container .right-side > h1 {
  border: 1px solid black;
  font-family: mreaves-book;
  padding: 75px 25px 15px;
  font-size: 50px;
  position: sticky;
  top: 10px;
  text-align: center;
  width: 50%;
  margin-top: 0;
  margin-left: 14%;
  font-weight: 500;
  height: 300px;
  line-height: 46px;
  background-color: white;
  z-index: 1;
}
.container .right-side .triangle {
  height: 0;
  width: 0;
  border-right: 35px solid pink;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  position: fixed;
  bottom: 56%;
  padding-right: 65px;
}
.container .right-side .after-click {
  display: none;
}
.container .right-side .after-click .main-part {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
.container .right-side .after-click .main-part .lower-parent {
  position: relative;
  display: block;
  max-width: 600px;
  padding: 0 100px 0 20px;
}
.container .right-side .after-click .main-part .first {
  position: relative;
  padding: 0px 28px;
}
.container .right-side .after-click .main-part .first .gurranty img {
  width: 150px;
  padding-top: 15px;
  padding-right: 46px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.container .right-side .after-click .main-part .first .video-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.container .right-side .after-click .main-part .first .video-container .video-management {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.container .right-side .after-click .main-part .first .video-container .video-management .pause-button img {
  width: 25px;
  height: auto;
}
.container .right-side .after-click .main-part .first .side-description {
  display: flex;
  margin: 12px 0px;
}
.container .right-side .after-click .main-part .first .side-description .full-description {
  flex-direction: column;
  font-family: mreaves-regular;
  font-size: 19px;
  width: 40%;
}
.container .right-side .after-click .main-part .first .side-description .full-description .mini-description {
  font-size: 14px;
}
.container .right-side .after-click .main-part .first .side-description .price {
  display: flex;
  margin-top: auto;
  margin-left: auto;
  margin-right: 38px;
}
.container .right-side .after-click .main-part .first .line {
  border-bottom: 1px solid pink;
}
.container .right-side .after-click .main-part .first .options {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.container .right-side .after-click .main-part .first .options i {
  color: pink;
}
.container .right-side .after-click .main-part .first .options .fa-circle-question {
  color: black;
}
.container .right-side .after-click .main-part .first .options .first-options img {
  width: 15px;
  margin-left: 3px;
}
.container .right-side .after-click .main-part .first .size-part {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid black;
}
.container .right-side .after-click .main-part .first .size-part .size-part-text {
  font-size: 20px;
}
.container .right-side .after-click .main-part .first .size-part .arrow-down {
  margin-left: 112px;
}
.container .right-side .after-click .main-part .first .size-part .arrow-down img {
  width: 50%;
}
.container .right-side .after-click .main-part .first .size-extra {
  margin-top: 6px;
}
.container .right-side .after-click .main-part .first .size-extra .bold-size {
  font-family: mreaves-bold;
  font-size: 17px;
}
.container .right-side .after-click .main-part .first .size-extra .small-size {
  font-size: 14px;
}
.container .right-side .after-click .main-part .first .additional-description {
  text-align: justify;
  margin: 12px 0px;
}
.container .right-side .after-click .main-part .first .additional-description .fa-square-plus {
  font-weight: 900;
  font-size: 24px;
  cursor: pointer;
}
.container .right-side .after-click .main-part .first .lower-div {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}
.container .right-side .after-click .main-part .first .lower-div .lower-button {
  background-color: black;
  color: white;
  border: none;
  width: 92%;
  padding: 10px 25px;
  font-size: 18px;
  cursor: pointer;
}
.container .right-side .after-click .main-part .first .lower-div .fa-heart {
  color: white;
  background-color: #000;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
.container .right-side .after-click .main-part .first .price {
  font-family: mreaves-bold;
  font-size: 22px;
}
.container .right-side .after-click .main-part .second {
  padding-right: inherit;
  position: absolute;
  right: 0;
  top: 20px;
  width: 65px;
}
.container .right-side .after-click .main-part .second img {
  width: 100%;
}
.container .right-side .after-click .main-part .second .video-tooltip .product-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  padding: 16px 14px;
}
.container .right-side .after-click .main-part .second .image-tooltip {
  cursor: pointer;
  position: relative;
  float: left;
}
.container .right-side .after-click .main-part .second .image-tooltip .after-hover {
  background-color: white;
  display: flex;
  position: absolute;
  right: 70px;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  z-index: 1;
}
.container .right-side .after-click .main-part .second .image-tooltip .after-hover img {
  display: block;
  overflow: hidden;
  width: 60px;
}
.container .right-side .after-click .main-part .second .image-tooltip .before-hover {
  display: flex;
}
.container .right-side .after-click .main-part .second .image-tooltip .fa-less-than {
  margin-top: 27px;
  font-size: 16px;
  font-weight: 100;
}
.container .right-side .after-click .main-part .second .image-tooltip:hover .after-hover {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.container .right-side .after-click .main-part .second .type-tooltip {
  position: relative;
}
.container .right-side .after-click .main-part .second .type-tooltip .metal-type {
  border-radius: 50%;
  background-color: #dedede;
  border-color: #dedede;
  text-align: center;
  font-size: 15px;
  height: 40px;
  margin: auto;
  font-family: mreaves-book;
}

.fa-heart {
  color: pink;
}

.full-img-card {
  display: block;
  border: 4px solid #fff;
  padding: 10px;
  color: black;
  height: 100%;
  box-sizing: border-box;
}
.full-img-card .main-img {
  position: relative;
  width: 200px;
  height: 200px;
}
.full-img-card .main-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.full-img-card .main-img img:nth-child(2) {
  opacity: 0;
}
.full-img-card:hover {
  border: 4px solid pink;
}
.full-img-card:hover .main-img img:nth-child(1) {
  opacity: 0;
}
.full-img-card:hover .main-img img:nth-child(2) {
  opacity: 1;
}
.full-img-card:hover .main-img i {
  position: absolute;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.full-img-card .description {
  font-size: 17px;
  text-align: center;
  color: black;
}
.full-img-card .ring-type {
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  color: black;
}
.full-img-card .old-price {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: black;
}/*# sourceMappingURL=index.css.map */