@font-face {
  font-family: "mreaves-bold";
  src: url("../fonts/MrEavesXLModOT-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "mreaves-book";
  src: url("../fonts/MrEavesXLModOT-Book.ttf") format("truetype");
}
@font-face {
  font-family: "mreaves-light";
  src: url("../fonts/MrEavesXLModOT-Light.ttf") format("truetype");
}
@font-face {
  font-family: "mreaves-regular";
  src: url("../fonts/MrEavesXLModOT-Reg.ttf") format("truetype");
}
body {
  max-width: 1440px;
  font-family: mreaves-regular;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
}

.parent {
  margin-top: 10px;
  border-top: 1px solid pink;
}

.container {
  display: flex;
}
.container .left-side {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.container .left-side .essential {
  margin-top: 10px;
  display: flex;
  width: 100%;
}
.container .left-side .essential .result {
  padding: 10px;
}
.container .left-side .essential .search {
  display: flex;
  margin-left: auto;
  width: auto;
}
.container .left-side .essential .search .input-container {
  border-bottom: 1px solid #333;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}
.container .left-side .essential .search .input-container > input {
  border: none;
  border-radius: 0;
  height: 25px;
  padding: 0;
}
.container .left-side .essential .search .input-container .search-input {
  display: flex;
}
.container .left-side .essential .search .input-container .search-input .search-input-button {
  background-color: #fff;
  border: none;
  border-radius: 0;
  color: #000;
  cursor: pointer;
  padding: 0px 5px;
  text-decoration: none;
}
.container .left-side .essential .search .input-container .search-input .search-input-button > i {
  font-size: 12px;
}
.container .left-side .row-container {
  display: flex;
  margin: 5px 0px 0px;
}
.container .right-side {
  width: 100%;
}

.fa-heart {
  color: pink;
}

.full-img-card {
  border: 4px solid #fff;
  padding: 10px;
  color: black;
  display: block;
  height: 100%;
  box-sizing: border-box;
}
.full-img-card .main-img {
  position: relative;
  width: 200px;
  height: 200px;
}
.full-img-card .main-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.full-img-card .main-img img:nth-child(2) {
  opacity: 0;
}
.full-img-card:hover {
  border: 4px solid pink;
}
.full-img-card:hover .main-img img:nth-child(1) {
  opacity: 0;
}
.full-img-card:hover .main-img img:nth-child(2) {
  opacity: 1;
}
.full-img-card:hover .main-img i {
  position: absolute;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.full-img-card .description {
  font-size: 17px;
  text-align: center;
  color: black;
}
.full-img-card .ring-type {
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  color: black;
}
.full-img-card .old-price {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: black;
}/*# sourceMappingURL=index.css.map */